body {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	margin: 0;
}

#pagewrap {
	width: 1280px;
}

#logo img {
	height: auto;
	width: 250px;
}

#menu {
	margin: 0;
	background-color: black;
	opacity: 0.6;
	width: 1280px;
	height: 170px;
	position: fixed;
}

#menu li {
	font-size: 25px;
	display: inline;
	padding: 20px;
	letter-spacing: 5px;
	word-spacing: 15px;
	position: relative;
	bottom: 40px;
}

a:link {
    color: white;
    text-decoration: none
}

a:visited {
	color: white;
}

a:hover {
	color: #CC3333;
}

a:active {
	color: #CC3333;
}

#about {
	background-image: url("symphony.png");
	height: 800px;
}

#craft {
	background-image: url("struckaxiom.png");
	height: 800px;
}

#connect {
	background-image: url("symphony.png");
	height: 800px;
}

#faq {
	background-image: url("noisy_grid.png");
	height: 800px;
}

.org {
	background-image: url("noisy_grid.png");
	overflow: scroll;
}

.content {
	position: relative;
	top: 200px;
	left: 50px;
}

.step {
	font-size: 28px;
	color: #CC3333;
}

.info {
	font-size: 24px;
	color: gray;
	width: 900px;
	position: relative;
	left: 50px;
	border: 10px dotted #808080;
	padding: 15px;
}

.title {
	font-size: 32px;
	color: gray;
	width: 1200px;
	position: relative;
	left: 10px;
}

.title2 {
	font-size: 32px;
	color: #CC3333;
	width: 1200px;
	position: relative;
	left: 50px;
	top: 200px;
}

#main-nav {
    width: 100%;
    height: 70px;
    background: #f2f2f2;
    position: relative;
    top: 250px;
}

#main-nav .subnav {
    display: none;
    position: absolute;
    top: 67px;
    left: 0px;
    width: 100%;
    list-style-type: none;
    background: #fff;
    margin: 0;
    border:solid 1px #eeeeee;
    z-index:5;
    padding:0;
}
#main-nav .subnav li {
    display: block;
    border-bottom: solid 1px #eeeeee;
    margin:0;
}
#main-nav .subnav li a {
    color: #333;
    height: 30px;
    padding:10px 0;
    font-size:13px;
}
#main-nav .subnav li a:hover {
    background:#f9f9f9;
}
#nav-primary {
    list-style-type: none;
    margin: 5;
    float: center;
    padding: 5;
}
#nav-primary li {
    float: left;
    position: relative;
}

#nav-primary li a {
    float: left;
    color: gray;
    text-align: center;
    font-size: 28px;
    height: 48px;
    padding-top: 19px;
    line-height: 16px;
    width: 400px;
    text-decoration:none;
}
#nav-primary li a:hover {
    text-decoration:none;
}
#nav-primary li:hover .subnav {
    display: block;
}

#notmenu {
	position: relative;
	z-index: -10;
}